.alert {
    margin-bottom: 0!important;
    text-align:center;
}

.sidebar {
    background-color: #212529;
    min-height: 100vh;
    width: 16%;
}
.sidebar ul{
    margin: 0;
    padding: 0;
}

.sidebar ul li{
    width: 100%;
    padding: 10px 10px;
    list-style: none;
}

.sidebar ul li a{
    color: white;
}
.sidebar ul li a:hover{
    color: darkgray;
    text-decoration: none;
}

.panel {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    float: left;
}

.admin-container {
    background-color: #212529;
    margin: 0;
}

.admin-panel {
    background-color: #ffffff;
    margin: 0;
    padding: 20px 20px 0 20px;
}

.admin-statistics-panel {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 1.25rem;
    margin: 5px;
}

.admin-statistics-top-row {
    margin: 5px;
}

    .admin-statistics-top-row .admin-statistics-top-panel {
        margin: 0;
        margin-right: 5px;
    }

    .admin-statistics-top-row .admin-statistics-top-panel:last-child {
        margin: 0;
        margin-right: 0;
    }