.products-container{
    margin-top: 30px;
}

.filters-container{
    margin-top: 35px;
}

.filterCheckBox {
    width: auto !important;
}

.product-item {
    float: left;
    width: 16.6em;
    height: 23.2em;
    padding: 25px;
    margin: 5px 8px 5px 0;
    background-color: white;
    border: 0.5px gray solid;
}

.product-item img{
    height: 13em;
    width: auto;
}

.product-item h3{
    float: left;
    width: 100%;
    margin: 1px;
}

.product-item button{
    width: 100% !important;
    margin: 10px 0;
}

.product-itemv {
    width: 85%;
    float: left;
    width: 100%;
    height: 24em;
    padding: 25px;
    margin-top: 5px;
    margin-left: 0px;
    background-color: white;
    overflow-y: auto;
    border: 0.5px gray solid;
}

.product-itemv img {
   height: 13em;
   width: auto;
   float: left;
   margin-left: -15px;
}
.product-itemv h3 {
    float: right;
}

.cartbutton {
    /* background-color: #223843; */
    color: white;
}

.vspecs {
    margin-top: 2em;
}

.colspecBtn {
    margin-bottom: 1em;
}

/* Collapsable specification button text */
.colspecBtn > .ifCollapsed,
.colspecBtn.collapsed > .else {
    display: none;
}

.colspecBtn.collapsed > .ifCollapsed,
.colspecBtn > .else 
{
    display: block;
}

/* Author: Robin */
.product-item:hover, .product-itemv:hover {
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 #007bff;
    }

    100% {
        box-shadow: 0 0 20px 0px #007bff;
    }
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 #007bff;
    }

    100% {
        box-shadow: 0 0 20px 0px #007bff;
    }
}
