.product-item {
    float: left;
    width: 275px;
    height: 400px;
    padding: 20px;
    margin: 5px;
    background-color: white;
    border: 0.5px gray solid;
}

.product-item img{
    height: 240px;
    width: auto;
}

.product-item h3{
    float: right;
}
