.product-item {
    float: left;
    width: 255px;
    height: 370px;
    padding: 25px;
    margin: 5px;
    background-color: white;
    border: 0.5px gray solid;
}

.product-item img{
    height: 60%;
    width: auto;
}

.product-item h3{
    float: right;
}
