.path-nav{
    margin-top: 10px;
}

.img-container {
    height: 400px;
    width: 400px;
    border: 0.5px solid gray;
    padding: 30px;
}

.img-container img{
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}

.button-group .actionButton{
    width: 40%;
    margin: 5px 0;
}

.product-stock {
    padding: 0.5em;
    display: inline-block;
    font-weight: 600;
    border: 1px solid currentColor;
    margin-bottom: .25em;
}