.products-container {
    margin-top: 35px;
}

.wishlist-item {
    float: left;
    padding: 25px;
    margin-top: 5px;
    margin-left: 0px;
    background-color: white;
    border: 0.5px gray solid;
}

.wishlist-image img {
    height: 80%;
    width: auto;
    margin: auto;
    margin-top: 10%;
    position: static;
    display: block;
}

.wishlistContent {
    margin-top: 2em;
}

.wishlistBtn {
    text-overflow: ellipsis;
    overflow: hidden;
}

.createWishlistBtn {
    margin-top: 1em;
}

.wishlist-item h3 {
}

    .wishlist-item h4 {
        
        width: 100%;
    }

    .wishlist-item button {
        width: 8em;
        float: right;
        
    }

.wishlist-product {
    float: left;
}

.cartbutton {
    background-color: #223843;
    color: white;
}

.wishlistbutton-group {
    float:right;
}

h3 {
margin-top: 15px;
}

.wishlist-image {
    border: 0.5px gray solid;
    height: 13em;
    width: 16em;

    
}

